<p>Associe despesas operacionais à simulação.</p>

<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Selecionar</th>
        <th>Nome</th>
        <th>Tipo</th>
        <th>Valor Padrão</th>
        <th>Percentual</th>
        <th>Base de Cálculo</th>
        <th>Moeda</th>
        <th>Local</th>
      </tr>
    </thead>
    <tbody>
      <% Expense.all.each do |expense| %>
        <tr>
          <td>
            <%= form.check_box :expense_ids, { multiple: true }, expense.id, nil %>
          </td>
          <td><%= expense.expense_name %></td>
          <td><%= expense.percentage.present? ? "Percentual" : "Fixo" %></td>
          <td>
            <% if expense.expense_default_value.present? %>
              <%= number_to_currency(expense.expense_default_value, unit: expense.expense_currency) %>
            <% else %>
              -
            <% end %>
          </td>
          <td>
            <% if expense.percentage.present? %>
              <%= number_to_percentage(expense.percentage, precision: 2) %>
            <% else %>
              -
            <% end %>
          </td>
          <td><%= expense.calculation_base.present? ? expense.calculation_base.humanize : '-' %></td>
          <td><%= expense.expense_currency %></td>
          <td><%= expense.expense_location %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
