<div class="section mb-5" data-controller="modal">
  <!-- País de Origem -->
  <div class="form-group">
    <%= form.input :origin_country,
                   as: :country,
                   label: 'País de Origem',
                   priority_countries: ['BR', 'US', 'GB'],
                   prompt: 'Selecione o país de origem',
                   required: true %>
  </div>

  <!-- Estado de Destino -->
  <div class="form-group">
    <%= form.input :destination_state,
                   collection: Simulation::BRAZILIAN_STATES,
                   label: 'Estado de Destino no Brasil',
                   prompt: 'Selecione o estado',
                   required: true %>
  </div>

  <!-- Modal de Transporte -->
  <div class="form-group">
    <%= form.input :modal,
                   collection: ['Aéreo', 'Marítimo', 'Rodoviário'],
                   prompt: 'Selecione o modal',
                   label: 'Modal',
                   required: true,
                   input_html: { data: { modal_target: 'modal', action: 'change->modal#toggleFields' } } %>
  </div>

  <!-- Campos para Modal Marítimo -->
  <div data-modal-target="maritimeFields" style="display: none;">
    <div class="row">
      <div class="col-md-6">
        <%= form.input :origin_port, label: 'Porto de Origem' %>
      </div>
      <div class="col-md-6">
        <%= form.input :destination_port, label: 'Porto de Destino' %>
      </div>
    </div>
    <!-- Campos Adicionais para Equipamento -->
    <div class="row">
      <!-- Equipamento -->
    <div class="col-md-6">
      <%= form.label :equipment_id, "Equipamento", class: "form-label" %>
      <%= form.collection_select :equipment_id, Equipment.all, :id, :name,
            { prompt: "Selecione o equipamento" },
            { class: "form-select", data: { action: "change->logistics#loadQuantityField" } } %>
    </div>

      <!-- Quantidade -->
      <div class="col-md-6">
        <%= form.input :quantity, label: "Quantidade", input_html: { type: "number", min: 1, required: true, class: "form-control" } %>
      </div>
    </div>
  </div>

  <!-- Campos para Modal Aéreo -->
  <div data-modal-target="airFields" style="display: none;">
    <div class="row">
      <div class="col-md-6">
        <%= form.input :origin_airport, label: 'Aeroporto de Origem' %>
      </div>
      <div class="col-md-6">
        <%= form.input :destination_airport, label: 'Aeroporto de Destino' %>
      </div>
    </div>
  </div>
</div>
