<h1>Funcionários da Empresa: <%= @enterprise.name %></h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Papel</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.user.full_name %></td>
        <td><%= employee.user.email %></td>
        <td><%= employee.role %></td>
        <td>
          <% if current_user.super_admin? || current_user.employee&.owner? || current_user.employee&.admin? %>
            <%= link_to 'Editar', edit_enterprise_employee_path(@enterprise, employee) %> |
            <%= link_to 'Remover', enterprise_employee_path(@enterprise, employee), method: :delete, data: { confirm: 'Tem certeza?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Adicionar Funcionário', new_enterprise_employee_path(@enterprise), class: "btn btn-secondary" %>
<%= link_to 'Voltar', enterprise_path(@enterprise), class: "btn btn-secondary" %>
