<h1><%= @schedule.new_record? ? "Novo Cronograma" : "Editar Cronograma" %></h1>

<%= simple_form_for @schedule do |f| %>
  <div class="mb-3">
    <%= f.input :name, label: "Nome do Cronograma" %>
  </div>

  <div class="row" data-controller="schedule-steps">
    <!-- Coluna de Steps Selecionados -->
    <div class="col-md-6">
      <h5>Steps Selecionados</h5>
      <div data-schedule-steps-target="selectedList">
        <%= turbo_frame_tag "selected_steps" do %>
          <%= render partial: "selected_steps", locals: { schedule: @schedule } %>
        <% end %>
      </div>
    </div>

    <!-- Coluna de Steps Disponíveis -->
    <div class="col-md-6">
      <h5>Steps Disponíveis</h5>
      <div data-schedule-steps-target="availableList">
        <%= turbo_frame_tag "available_steps" do %>
          <%= render partial: "available_steps", locals: { steps: @steps, schedule: @schedule } %>
        <% end %>
      </div>
    </div>
  </div>

  <%= f.submit "Salvar", class: "btn btn-success mt-3" %>
<% end %>

<%= link_to "Voltar", schedules_path, class: "btn btn-secondary mt-3" %>
