<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "heyship_logo_alta.png", alt: "Heyship Logo Alta" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", authenticated_root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Messages", "#", class: "nav-link" %>
          </li>
          <% if current_user.employee && current_user.employee.enterprise %>
            <li class="nav-item">
              <%= link_to "Minha Empresa", enterprise_path(current_user.employee.enterprise), class: "nav-link" %>
            </li>
          <% elsif current_user.super_admin? || current_user.employee.nil? %>
            <li class="nav-item">
              <%= link_to "Criar Empresa", new_enterprise_path, class: "nav-link text-warning fw-bold" %>
            </li>
          <% end %>
          <li class="nav-item dropdown">
            <a href="#" class="avatar text-uppercase d-flex align-items-center justify-content-center rounded-circle bg-warning text-dark fw-bold" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 40px; height: 40px; text-decoration: none;">
              <%= (current_user.first_name.presence || "").first + (current_user.last_name.presence || "").first %>            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Profile", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", user_signed_in? ? authenticated_root_path : unauthenticated_root_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
