<%= simple_form_for [@product, @quotation] do |form| %>
  <div class="form-group">
    <%= form.input :supplier_id, label: 'Fornecedor', collection: Supplier.all.map { |s| [s.trade_name, s.id] }, prompt: 'Selecione um fornecedor', required: true %>
  </div>

  <div class="form-group">
    <%= form.input :sku_supplier_id, label: ' ID do SKU do Fornecedor', required: true %>
  </div>

  <div class="form-group">
    <%= form.input :product_quotation_description, label: 'Descrição do Produto na Cotação', required: false %>
  </div>

  <div class="form-group">
    <%= form.input :price, label: 'Preço', required: true, step: 0.01 %>
  </div>

  <div class="field">
    <%= form.input :currency, collection: ['USD', 'EUR', 'BRL'], prompt: 'Selecione a moeda' %>
  </div>

  <div class="form-group">
    <%= form.input :moq, label: 'Pedido Mínimo (MOQ) ou Qtd da Cotação', required: true %>
  </div>

  <div class="form-group">
    <%= form.input :cargo_type, label: 'Cargo Type',
                   collection: Quotation::CARGO_TYPES,
                   prompt: 'Selecione o tipo de carga' %>
  </div>

  <div class="form-group">
    <%= form.input :total_cbm, label: 'CBM Total', required: false, step: 0.01 %>
  </div>

  <div class="form-group">
    <%= form.input :total_gross_weight, label: 'Peso Bruto Total (kg)', step: 0.01 %>
  </div>

  <div class="form-group">
    <%= form.input :total_net_weight, label: 'Peso Líquido Total (kg)', step: 0.01 %>
  </div>

  <div class="form-group">
    <%= form.input :validity, as: :date, label: 'Validade da Cotação', required: true %>
  </div>

  <div class="form-group">
    <%= form.input :payment_terms, label: 'Condições de Pagamento', collection: Quotation::PAYMENT_TERMS, prompt: 'Selecione uma condição de pagamento', required: true %>
  </div>

  <div class="form-group">
    <%= form.input :lead_time, label: 'Tempo de Entrega (dias)', step: 1 %>
  </div>

  <div class="form-group">
    <%= form.input :observations, as: :text, label: 'Observações', required: false %>
  </div>

  <%= form.button :submit, 'Salvar Cotação', class: 'btn btn-primary' %>
<% end %>
