<table class="table">
  <thead>
    <tr>
      <th>Fornecedor</th>
      <th>SKU</th>
      <th>Preço</th>
      <th>Moeda</th>
      <th>Validade</th>
      <th>MOQ</th>
      <th>Condições de Pagamento</th>
      <th>Lead Time</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% quotations.each do |quotation| %>
      <tr>
        <td><%= quotation.supplier&.trade_name || "Fornecedor não especificado" %></td>
        <td><%= quotation.sku_supplier_id %></td>
        <td><%= number_to_currency(quotation.price, unit: quotation.currency) %></td>
        <td><%= quotation.currency %></td>
        <td><%= quotation.lead_time.present? ? "#{quotation.lead_time} dias" : "Não especificado" %></td>
        <td>
          <%= link_to 'Editar', edit_product_quotation_path(quotation.product, quotation), class: 'btn btn-sm btn-primary' %>
          <%= link_to 'Excluir', product_quotation_path(quotation.product, quotation), method: :delete, data: { confirm: 'Tem certeza?' }, class: 'btn btn-sm btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
