<h1>Bem-vindo ao Simulador de Importação</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= link_to 'Nova Simulação', new_simulation_path, class: 'btn btn-primary' %>
<%= link_to 'Listar Simulações Criadas', simulations_path, class: 'btn btn-secondary' %>

<div class="btn-group" role="group" aria-label="Opções">
  <%= link_to 'Despesas Operacionais', expenses_path, class: 'btn btn-secondary' %>
  <%= link_to 'Fornecedores', suppliers_path, class: 'btn btn-primary' %>
  <%= link_to 'Produtos', products_path, class: 'btn btn-primary' %>
</div>
